body{
    background-image: url(../sfondo_hobby_scacchi.jpg);
    background-size: cover;
}
#tab_1 td,tr{
    background-color: white;
    border: solid;
    border-style:inset;
    align-items: center;
    height: 100%;
    width: 100%;
}
#td_1{
    font-weight: bold;
    font-family: serif;
    text-align: center;
    font-size: 100%;
    font-style: italic;
}
#td_2_sin{
    align-items: center;
    background-image: url(../imm_moto_hobby.jpg);
    background-size: cover;

}
#p_td_sin_3{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: orange;
}
#td_2_dest{
    text-align: center;
}
#p_td_dest_2{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#p2_td_sin_3{
    text-align: center;
}
#imm_biliardo{
    height: auto;
}
#p_sin_3{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#p2_sin_3{
    text-align: center;
}
#menuVerticale ul {
    background-color: rgba(219, 219, 219, 0.6);
    text-align: center;
    border: solid;
    border-color: transparent;
    margin-top:150px;
    padding:0px;
    list-style-type:none;
    }
    #menuVerticale ul a:link, ul a:visited{
    display:block;
    padding:10px;
    text-decoration:none;
    color:black;
    text-transform:uppercase;
    }
#footer{
    background:rgba(164, 164, 164, 0.7);;
    bottom:0;
    height:100px;
    width:100%;
    text-align:center;
}

/* li personalizzazione (simile button personalizzazione)*/


li {
    display: inline-block;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  li span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  li span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  li:hover span {
    padding-right: 25px;
  }
  
  li:hover span:after {
    opacity: 1;
    right: 0;
  }
  li:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



li {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a4a4a4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  li:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }