body{
    background-image: url(../sfondo_scuola.jpg);
    background-size: cover;
}
#h1_titolo{
    background-color:rgb(90, 97, 97);
    text-align: center;
    font-weight: bold;
}
#img_colamonico{
    padding: 30px;
    padding-left: 150px;
}
#tab_1{
    border: solid;
    border-style: double;
    width: 100%;
    height: 100%;
}
#p_descrizione_colamonico{
    font-size: 40pt;
    font-style: italic;
}
.li_class{
    font-size: 20pt;
}
#tab_2{
    width: 100%;
    height: 100%;
    border: solid;
    border-style: double;
}
.td_tab_2{
    width: 25%;
    height: 25%;
}
.titoli_sezioni{
    background-color: #dbdbdb;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
.p_sez{
    font-size: 15pt;
}
#menuVerticale ul {
    background-color: rgba(219, 219, 219, 0.6);
    text-align: center;
    border: solid;
    border-color: transparent;
    margin-top:150px;
    padding:0px;
    list-style-type:none;
    }
    #menuVerticale ul a:link, ul a:visited{
    display:block;
    padding:10px;
    text-decoration:none;
    color:black;
    text-transform:uppercase;
    }
#footer{
    background:rgba(164, 164, 164, 0.7);;
    bottom:0;
    height:100px;
    width:100%;
    text-align:center;
}

/* li personalizzazione (simile button personalizzazione)*/


li {
    display: inline-block;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  li span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  li span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  li:hover span {
    padding-right: 25px;
  }
  
  li:hover span:after {
    opacity: 1;
    right: 0;
  }
  li:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



li {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a4a4a4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  li:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }